*{
    margin: 0 auto;
}

header{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: static;
    top: 0;
    left: 0;
    background-color: #002b5c;
}


#Titulo{
    width: 10%;
}

#menu{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

#menu ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#menu a{
    text-decoration: none;
    color: rgb(252, 250, 234);
    font-size: 1em;
    font-family:"Poppins";
}
