@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0 auto;
}

body{
    background-color: #FFF;
}

header{
    width: 100vw;
    height: 15vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    background-color: #48B281;
} 


#Titulo{
    width: 30%;
    color: #FFF;
    font-family: "Antonio";
}

#menu{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

#menu ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    list-style: none;
}

#menu a{
    text-decoration: none;
    color: rgb(252, 250, 234);
    font-size: 1.2em;
    font-family: "Inter";
}

#nome{
    font-family: "Antonio";
    color: #525252;
    margin-top: 15vh;
    padding: 15px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

#sobrenos{
    display: flex;
    width: 100%;
    height: 60vh;
    background-color: #48B281;
    margin-top: 5vh;
    margin-bottom: 10vh;
    justify-content: space-around;
}

#sobrenos>article{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 40%;
    font-family: "Inter";
    font-size: 1.2em;
    line-height: 2em;
}

#sobrenos p{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#sobreimg{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

#sobreimg img{
    width: 90%;
    height: auto;
}



footer{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: #55db89;
}


