*{
    margin: 0 auto;
}

header{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: static;
    top: 0;
    left: 0;
    background-color: #48B281;
}


main{
    background-color: #55db89;
}

#Titulo{
    width: 30%;
    color: #FFF;
    font-family: "Antonio";
}

#menu{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

#menu ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#menu a{
    text-decoration: none;
    color: rgb(252, 250, 234);
    font-size: 1em;
    font-family:"Antonio";
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-family: "Antonio";
    color: #525252;
    padding: 15px;
}

#meio{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: #48B281;
}

#sobre{
    display: flex;
    width: 600px;
    background-color: #48B281;
    height: 86vh;
    align-items: center;

}

#textosobre{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 1000px;
    color: #FFF;
    font-family: "Antonio";
    font-size: 1.5em;
    line-height: 2em;
}

#sobre>article h2{
    font-weight: light;
    justify-self: flex-start;
    font-weight: 550;
}

#depoimentos{ 
    width: 100vw;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Poppins";
    background-color: #fff7ab;
}

#depoimentos p{
    color: rgb(196, 113, 10);
    width: 80%;
    font-size: 1.5em;

}

#depoimentos h2{
    color: rgb(14, 67, 101);
    justify-self: flex-start;
    font-size: 2em;
    font-weight: 550;
}

footer{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: #55db89;
}


